{% extends 'base.html' %}
{% set page = "add" %}
{% block content %}
<h1>{% block title %} New Review {% endblock %}</h1>
<div class="card">
  <div class="card-header">
    Create Review
  </div>
  <div class="card-body">
    <form action="/add" id="searchForm" method="post" class="needs-validation">
      <div class="mb-3">
        <label for="countryselector" class="form-label">Country</label>
        <select class="form-select" aria-label="Country Selector" name="Country" id="countryselector" required>
          {% for country in countries %}
          <option value="{{ country['Country']}}">{{ country['Country']}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="brandinput" class="form-label">Brand</label>
        <input type="text" class="form-control" id="brandinput" name="Brand" required>
      </div>
      <div class="mb-3">
        <label for="typeinput" class="form-label">Type</label>
        <input type="text" class="form-control" id="typeinput" name="Type" required>
      </div>
      <div class="mb-3">
        <label for="packageselector" class="form-label">Package</label>
        <select class="form-select" aria-label="Package Selector" name="Package" id="packageselector" required>
          {% for package in packages %}
          <option value="{{ package['Package']}}">{{ package['Package']}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="typeinput" class="form-label">Rating</label>
        <input type="number" min="0" max="5" class="form-control" id="ratinginput" name="Rating"
          aria-describedby="ratinginputhelp" required step=".01">
        <div id="ratinginputHelp" class="form-text">Rating should between 0 and 5</div>
      </div>
      <button type="submit" class="btn btn-primary">Create Review</button>
    </form>
  </div>
</div>
{% endblock %}